main{
  margin:auto;
  width:1500px;
}

/*  main  */




#shop-advertise{
  margin:auto;
  width:1500px;
  height:600px;
  background-repeat: no-repeat;
  background-position:bottom;
  background-size: cover;
-webkit-mask-image: -webkit-gradient(linear, center top, center bottom,
   color-stop(1.00,  rgba(0,0,0,0)),
   color-stop(0.50,  rgba(0,0,0,1)))
}
.scroll-images{
  display:flex;
  justify-content:space-between;

}
.scroll-images>button{
  background:transparent;
  border:none;
  padding:8% 20px;
  outline:none;
}
.scroll-images>button:active{
  border:none;
}
.scroll-images>button:hover{
  cursor:pointer;
}
.image-change-buttons{
  font-size:48px;
}
.horizontal-boxes{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  position:relative;
  bottom: 350px;
}
.box{
  width:350px;
  height:420px;
  background: #fff;
  margin-left:10px;
  margin-right:15px;
}
.box>h2{
  margin-left:15px;
}
.category-row{
  display:flex;
  flex-direction: row;

}
.mini-category-box{
  max-width:153px;
  max-height:129px;
  display:flex;
  flex-direction: column;
  padding:10px;
  font-size:15px;
  text-decoration:none;
  color:#000;
}

.mini-category-box>img{
  width:auto;
  height:100%;
}
.mini-category-box>span{
  text-align:center;
}
#link-to-shop{
  display:flex;
  align-self:flex-start;
  margin: 30px 0 0 15px;
}
#link-to-shop>a, .see-more-phones>a {
  color:#0066c0;
  text-decoration: none;
  font-size:13px;
}
.mini-category-box:hover{
  cursor:pointer;

}
#link-to-shop>a:hover,.see-more-phones>a:hover{
  text-decoration: underline;
  color:#db8f00;
}
.box-img{
  width:304px;
  height:304px;
  display:flex;
  justify-content: center;
  margin:auto;
}
 .box-img>img{
  width:304px;
  height:auto;
}
.see-more-phones{
  margin: 25px 0 0 20px;
  display:flex;
  align-self:flex-start;
  color:#0066c0;
  text-decoration: none;
}
#sign-in-box-href{
  border-color:#f0c14b;
  border-radius:5px;
  background: #f0c14b;
  display:flex;
  justify-content: center;
  margin:0 20px;
  padding:8px 0;

}

#sign-in-box-href:hover{
  background:#e6af25;
  cursor:pointer;
}
